<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--12">
      <p>{{ site.description }} <br>
        Síguenos <a target="_blank"  href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> o visita <a target="_blank" href="http://www.wallarquitectura.com/">www.wallarquitectura.com</a>.
        <br/><small>Esta obra está bajo una <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.5/mx/">Licencia Creative Commons Atribución-NoComercial-SinDerivadas 2.5 México</a>.</small>
	</p>
      
     </div>
  </div>
  
          <a title="por Inusual Estudio" style="text-align:center; right: 6px; bottom: 6px;" target="_blank" href="http://www.inusualestudio.com/"><img src="{{ site.baseurl }}/assets/byinusualcolor.svg"  src="" alt="por Inusual Estudio"></a>
          
</footer>
